<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationSettings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AppSettings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApplicationSettings.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setpoint" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="InputOn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InputOff" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="TimeHorizon" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowDataLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThermometerResolution" serializeAs="String">
                <value>Resolution12Bit</value>
            </setting>
            <setting name="PoolingInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
        </ApplicationSettings.Settings>
        <AppSettings.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setpoint" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="InputOn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InputOff" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>Resolution12Bit</value>
            </setting>
        </AppSettings.Settings>
    </userSettings>
</configuration>